
h1 {
	margin-bottom: 25px;
}

label {
	width: 100%;
}

table.table {
	margin-top: 20px;
}

.navbar-brand {
	font-size: 24px;
}

.drag_handle {
	background-image: url(../img/drag_handle.png);
	background-size: 15px 15px;
	background-repeat: no-repeat;
	background-color: #FFF;
	height: 15px;
	width: 88px;
	float: left;
	margin-top: -14px;
	margin-left: -5px;
	cursor: move;
}

a.delete {
	color: red;
	cursor: pointer;
}

a.delete img {
	margin-left: 10px;
	margin-top: -3px;
}

/* ================== Footer ===================== */

.footer {
	color: #AAA;
}

/* ================== @media Query ===================== */

@media (max-width: 600px) {
	.input-prepend input, .input-prepend textarea, .input-append input, .input-append textarea, .input-prepend input[class*="span"], 
	.input-append input[class*="span"] {
    	display: inline-block;
    	width: auto;
	}	
}

#contact_listing {
	margin-top: 20px;
}

#contact_listing .disabled {
	display: none;
}

.contact_icon {
	float: left;
	text-align: center;
	border: 1px solid #DDD;
	padding: 10px;
	margin: 0 10px 10px 0;
	height: 100px;
	width: 130px;
	vertical-align: middle;
	padding-top: 20px;
	cursor: pointer;
}

.contact_icon span {
	margin-bottom: 15px;
}

.contact_icon:hover {
	background-color: #E1E1E1;
	border: 1px solid #666;
	font-weight: bold;
}

.btn:hover .btn_trash {
	display: inline;
}

.panel-title:hover .btn_trash {
	display: inline;
}

.btn_trash {
	margin-left: 20px;
	color: #666;
	display: none;
}

.btn_trash:hover {
	color: #000
}

.component_wrapper {
	float: left;
	border-top: 1px #AAA solid;
	margin-top: 5px;
	padding-top: 5px;
	width: 100%;
}

.note {
	float: left;
	width: 100%;
	padding: 3px;
	margin-bottom: 5px;
	margin-top: 3px;
	border: 1px #AAA solid;
}

.note_details {
	float: left;
	width: 75px;
	text-align: center;
}

.note_message {
	float: left;
}

.note_datetime {
	font-size: 10px;
}

.note_delete {
	float: right;
	font-size: 10px;
	cursor: pointer;
}

.note_delete:hover {
	color: red;
}

.modal-body {
	max-height: 700px;
}

.modal-body {
	overflow-y: scroll;
}

